doctype html
html
    style(type='text/css').
      .slider {
          background-color: #bbb;
          position: relative;
          height: 90px;
          text-align: center;
      }
      .arrow_left {
          position: absolute;
          left: 0;
          height: 100%;
          width: 40px;
          background-color: #d7dae0;
          color: white;
      }
      .arrow_right {
          position: absolute;
          right: 0;
          height: 100%;
          width: 40px;
          background-color: #d7dae0;
          color: white;
      }

    body
        .slider
            .arrow_left
                h1 <
            .arrow_right
                h1 >
